<%- include('templates/header') %>

<!-- SCROLL TO TOP BUTTON -->
<div class="scroll-top">
    <button class="btn-scroll-top">
        <i class='bx bxs-up-arrow'></i>
    </button>
</div>

<!-- START NAVBAR -->
<nav class="navbar navbar-expand-md py-2">
    <div class="container">
        <a class="navbar-brand" href="#">
        <img src="<%= base_url %>/assets/images/logo-dark.png" alt="logo" srcset="<%= base_url %>/assets/images/logo-dark.png" class="w-25">
        </a>
        <div class="hamburger-wrapper d-md-none"  data-bs-toggle="collapse" data-bs-target="#menu">
        <div class="hamburger"></div>
        </div>
        <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ms-auto gap-md-3 text-center text-md-left my-2 my-lg-0">
            <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#works">Works</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#contact">Contacts</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" id="toggle-darkmode"><i class='bx bx-moon'></i> Dark</a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    <!-- END NAVBAR -->

    <!-- START HOME -->
    <div id="home" class="margin-lg">
    <div class="container">
        <div class="d-block d-sm-flex justify-content-evenly gap-5">
            <div class="left-wrapper d-block d-sm-flex justify-content-start align-items-center gap-5">
                <div class="social-links">
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.facebook.com/idgaaaaaaaaaf" target="_blank" class="nav-link d-inline d-md-block">
                                <i class='bx bxl-facebook' ></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/___clmz___/" target="_blank" class="nav-link d-inline d-md-block">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link d-inline d-md-block" target="_blank">
                                <i class='bx bxl-linkedin' ></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:llemoscarl671@gmail.com" class="nav-link d-inline d-md-block">
                                <i class='bx bx-envelope' ></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="developer-info">
                    <div class="main">
                        <h1>Carl Llemos</h1>
                        <p>━━━ Website Developer</p>
                    </div>
                    <div class="sub">
                        <p>
                            Hello! I'm a third-year college IT 
                            student from Arellano University. 
                            I love to explore technology-related 
                            stuff, write code and fulfill my path
                            to become a full stack website developer.
                        </p>
                        <button class="btn-send-message" data-bs-toggle="modal" data-bs-target="#work-together">
                            Let's Work Together <i class='bx bx-code-alt'></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="right-wrapper">
                <div class="developer-profile">
                    <img src="<%= base_url%>/assets/images/profile.jpg" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="scroll-down d-flex justify-content-center align-items-center gap-1">
            <i class='bx bx-mouse'></i>
            <span>SCROLL DOWN</span>
        </div>  
    </div>
    </div>
    <!-- END HOME -->

    <!-- START ABOUT -->
    <div id="about" class="margin-lg pt-5">
    <div class="container">
        <div class="section-header">
            <h1>ABOUT ME</h1>
            <p>What you should know</p>
        </div>
        <div class="overlay-header">
            <h1>KNOW ME?</h1>
        </div>
        <div class="row mt-5 pb-5 d-flex justify-content-center">
            <div class="col-12 col-sm-8">
                <div class="row">
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class='bx bx-bulb' ></i>
                                <p>Experience</p>
                                <small>3+ years</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class='bx bx-briefcase'></i>
                                <p>Commissions</p>
                                <small>10+ freelance projects</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <i class='bx bx-laptop'></i>
                                <p>Projects</p>
                                <small>20+ all projects</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="about-me mt-4">
                    <p>I'm a self-taught web developer who spends my all day in learning and creating projects that leads me to learning. I can do front end and also back end developments. You can also call me KNOWLEDGE DIGGER.</p>
                </div>
                <div class="certs mt-4 mb-4">
                    <img src="<%= base_url%>/assets/images/certificates/lavalust.png" alt="lava-lust">
                </div>
                <button class="btn-download-cv">Download CV <i class='bx bx-download'></i></button>
                <div class="education mt-5">
                    <div class="section-header">
                        <h1>Education</h1>
                        <p>Where did I studied?</p>
                    </div>
                    <div class="timeline">
                        <div class="timeline-left">
                            <div class="content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>BAGONG PAG-ASA ELEMENTARY SCHOOL</h5>
                                        <hr>
                                        <p>Elementary</p>
                                        <p class="mt-2 d-flex align-items-center gap-2"><i class='bx bx-calendar'></i> <small>2008 - 2014</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar"></div>
                        <div class="timeline-right">
                            <div class="content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>MANUEL I. SANTOS MEMORIAL NATIONAL HIGHSCHOOL</h5>
                                        <hr>
                                        <p>Junior High School</p>
                                        <p class="mt-2 d-flex align-items-center gap-2"><i class='bx bx-calendar'></i> <small>2014 - 2018</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-left">
                            <div class="content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>ARELLANO UNIVERSITY - ANDRES BONIFACIO CAMPUS</h5>
                                        <hr>
                                        <p>Senior High School</p>
                                        <p class="mt-2 d-flex align-items-center gap-2"><i class='bx bx-calendar'></i> <small>2018 - 2020</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar"></div>
                        <div class="timeline-right">
                            <div class="content">
                                <div class="card">
                                    <div class="card-body">
                                        <h5>ARELLANO UNIVERSITY - ANDRES BONIFACIO CAMPUS</h5>
                                        <hr>
                                        <p>College</p>
                                        <p class="mt-2 d-flex align-items-center gap-2"><i class='bx bx-calendar'></i> <small>2020 - PRESENT</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- END ABOUT -->

    <!-- START SKILLS -->
    <div id="skills" class="margin-lg pt-5">
    <div class="container">
        <div class="section-header">
            <h1>MY SKILLS</h1>
            <p>Technology Stacks I use</p>
        </div>
        <div class="overlay-header">
            <h1>SKILL SET</h1>
        </div>
        <div class="row mt-5 pb-5">
            <div class="col-12 col-sm-3 mb-2">
                <div class="card border-0 bg-transparent" data-bs-toggle="tooltip" data-bs-placement="top" title="HTML (HyperText Markup Language) is the most basic building block of the Web. It defines the meaning and structure of web content. Other technologies besides HTML are generally used to describe a web page's appearance/presentation (CSS) or functionality/behavior (JavaScript).">
                    <div class="card-body text-center">
                        <i class='bx bxl-html5 bx-html'></i>
                        <h5>HTML 5</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 mb-2">
                <div class="card border-0 bg-transparent" data-bs-toggle="tooltip" data-placement="top" title="CSS3 is used with HTML to create and format content structure. It is responsible for colours, font properties, text alignments, background images, graphics, tables, etc. It provides the positioning of various elements with the values being fixed, absolute, and relative.">
                    <div class="card-body text-center">
                        <i class='bx bxl-css3 bx-css' ></i>
                        <h5>CSS 3</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 mb-2">
                <div class="card border-0 bg-transparent" data-bs-toggle="tooltip" data-placement="top" title="Bootstrap 5 is the newest version of Bootstrap, which is the most popular HTML, CSS, and JavaScript framework for creating responsive, mobile-first websites. Bootstrap 5 is completely free to download and use!">
                    <div class="card-body text-center">
                        <i class='bx bxl-bootstrap bx-bs' ></i>
                        <h5>BOOTSTRAP 5</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 mb-2">
                <div class="card border-0 bg-transparent" data-bs-toggle="tooltip" data-placement="top" title="JavaScript (JS) is a lightweight, interpreted, or just-in-time compiled programming language with first-class functions. While it is most well-known as the scripting language for Web pages, many non-browser environments also use it, such as Node.js, Apache CouchDB and Adobe Acrobat.">
                    <div class="card-body text-center">
                        <i class='bx bxl-javascript bx-js'></i>
                        <h5>JAVASCRIPT</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 mb-2">
                <div class="card border-0 bg-transparent" data-bs-toggle="tooltip" data-placement="top" title="jQuery is an open-sourced JavaScript library that simplifies creation and navigation of web applications. Specifically, jQuery simplifies HTML Document Object Model (DOM) manipulation, Asynchronous JavaScript and XML (Ajax) and event handling.">
                    <div class="card-body text-center">
                        <i class='bx bxl-jquery bx-jquery' ></i>
                        <h5>JQUERY</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 mb-2">
                <div class="card border-0 bg-transparent" data-bs-toggle="tooltip" data-placement="top" title="PHP is a server-side scripting language created in 1995 by Rasmus Lerdorf. PHP is a widely-used open source general-purpose scripting language that is especially suited for web development and can be embedded into HTML.">
                    <div class="card-body text-center">
                        <i class='bx bxl-php bx-php' ></i>
                        <h5>PHP</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 mb-2">
                <div class="card border-0 bg-transparent" data-bs-toggle="tooltip" data-placement="top" title="MySQL is an open-source relational database management system. As with other relational databases, MySQL stores data in tables made up of rows and columns. Users can define, manipulate, control, and query data using Structured Query Language, more commonly known as SQL.">
                    <div class="card-body text-center">
                        <i class='bx bx-code-block bx-ci'></i>
                        <h5>CODEIGNITER</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-3 mb-2">
                <div class="card border-0 bg-transparent" data-bs-toggle="tooltip" data-placement="top" title="CodeIgniter is an application development framework, which can be used to develop websites, using PHP. It is an Open Source framework. It has a very rich set of functionality, which will increase the speed of website development work. If you know PHP well, then CodeIgniter will make your task easier.">
                    <div class="card-body text-center">
                        <i class='bx bxs-data bx-mysql'></i>
                        <h5>MYSQL</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- END SKILLS -->
    
    <!-- START WORKS -->
    <div id="works" class="margin-lg pt-5">
    <div class="container">
        <div class="section-header">
            <h1>MY WORKS</h1>
            <p>Projects Recently Made</p>
        </div>
        <div class="overlay-header">
            <h1>PROJECTS</h1>
        </div>
        <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-landingpage-tab" data-bs-toggle="pill" data-bs-target="#pills-landingpage" type="button" role="tab">Latest</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-systems-tab" data-bs-toggle="pill" data-bs-target="#pills-systems" type="button" role="tab">More</button>
            </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-landingpage" role="tabpanel">
                <div class="row d-flex justify-content-center mt-5 pb-5">
                    <div class="col-12 col-md-10">
                        <div class="latest-projects">
                            <div class="timeline">
                                <div class="timeline-date">
                                    <div class="project-date">
                                        <p>June 21, 2021</p>
                                    </div>
                                </div>
                                <div class="timeline-bar"></div>
                                <div class="timeline-projects">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="project-name">
                                                <h1>Covid-19 Tracker</h1>
                                            </div>
                                            <div class="project-description">
                                                <p>
                                                    Covid-19 Tracker is a responsive website application that aims to recognize updates about coronavirus cases. On this website, visitors may see their country's basic information, with their total active cases, recoveries, and deaths, together with the number of statistics added every day. A graph is also presented featuring the global statistics for the past seven (7) days.
                                                </p>
                                            </div>
                                            <div class="project-link">
                                                <p>Live Preview: <a href="#" class="nav-link d-inline">https://covid19-tracker.ml</a></p>
                                            </div>
                                            <div class="project-techs">
                                                <ul class="list-inline">
                                                    <li class="list-inline-item">
                                                        <a href="#" class="text-link">Maps / Geolocate</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#" class="text-link">Trace Country</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#" class="text-link">Country Information</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#" class="text-link">Corona Statistics</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#" class="text-link">News</a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a href="#" class="text-link">Temperature</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="project-images">
                                                <div id="covid-tracker" class="carousel slide" data-bs-ride="carousel">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <img src="<%= base_url %>/assets/images/projects/covid19-tracker/desktop/1.jpg" class="img-fluid">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img src="<%= base_url %>/assets/images/projects/covid19-tracker/desktop/2.jpg" class="img-fluid">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img src="<%= base_url %>/assets/images/projects/covid19-tracker/desktop/3.jpg" class="img-fluid">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img src="<%= base_url %>/assets/images/projects/covid19-tracker/desktop/4.jpg" class="img-fluid">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img src="<%= base_url %>/assets/images/projects/covid19-tracker/desktop/5.jpg" class="img-fluid">
                                                        </div>
                                                    </div>
                                                    <button class="carousel-control-prev" data-bs-target="#covid-tracker" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"></span>
                                                    </button>
                                                    <button class="carousel-control-next" data-bs-target="#covid-tracker" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"></span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-systems" role="tabpanel">
                <div class="row mt-5 pb-5 more">
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <img src="assets/images/projects/cashier-pos/1.png" alt="" srcset="" class="img-fluid">
                            <div class="overlay-project-info">
                                <h4>Cashier POS</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WORKS -->

    <!-- START TESTIMONIAL -->

    <div id="testimonials" class="margin-lg pt-5">
        <div class="container">
            <div class="section-header">
                <h1>Testimonials</h1>
                <p>What they say about my works</p>
            </div>
            <div class="overlay-header">
                <h1>FEEDBACKS</h1>
            </div>
            <div class="d-block d-sm-flex align-items-start gap-5">
                <div class="nav flex-column nav-pills me-3 mb-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                  <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                    <div class="d-flex">
                        <div class="tes-avatar d-flex align-items-center gap-3">
                            <img src="<%= base_url%>/assets/images/avatars/avatar__1.png" alt="avatar" srcset="" class="w-25">
                            <span class="avatar_name">Client 1</span>
                        </div>
                    </div>
                  </button>
                  <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                    <div class="d-flex">
                        <div class="tes-avatar d-flex align-items-center gap-3">
                            <img src="<%= base_url%>/assets/images/avatars/avatar__3.png" alt="avatar" srcset="" class="w-25">
                            <span class="avatar_name">Client 2 </span>
                        </div>
                    </div>
                  </button>
                  <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                    <div class="d-flex">
                        <div class="tes-avatar d-flex align-items-center gap-3">
                            <img src="<%= base_url%>/assets/images/avatars/avatar__2.png" alt="avatar" srcset="" class="w-25">
                            <span class="avatar_name">Client 3</span>
                        </div>
                    </div>
                  </button>
                  <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                    <div class="d-flex">
                        <div class="tes-avatar d-flex align-items-center gap-3">
                            <img src="<%= base_url%>/assets/images/avatars/avatar__1.png" alt="avatar" srcset="" class="w-25">
                            <span class="avatar_name">Client 4</span>
                        </div>
                    </div>
                  </button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="quotes">
                        <img src="<%= base_url%>/assets/images/quote.png" alt="quote" srcset="">
                    </div>
                    <div class="star-rating mt-3">
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                        <i class='bx bx-star'></i>
                    </div>
                    <div class="testimonial-content mt-3 text-justify">
                        <p>Functioning po ung buong website solid developer nito di kayo manghihinayang sa kung ano man ipapagawa nio 👌</p>
                    </div>
                    <div class="name d-flex justify-content-end mt-5 me-5">
                        <p>- Denz B.</p>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="quotes">
                            <img src="<%= base_url%>/assets/images/quote.png" alt="quote" srcset="">
                        </div>
                        <div class="star-rating mt-3">
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="testimonial-content mt-3 text-justify">
                            <p>Easy to talk to, quick to understand what we say. The systems he made are beautiful. He can do it right away even if there is an error.</p>
                        </div>
                        <div class="name d-flex justify-content-end mt-5 me-5">
                            <p>- Rodel L.</p>
                        </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
                </div>
              </div>
        </div>
    </div>

    <!-- END TESTIMONIAL -->

    <!-- START CONTACTS -->
    <div id="contact" class="margin-lg pt-5">
        <div class="container">
            <div class="section-header">
                <h1>CONTACT ME</h1>
                <p>Where can you find me</p>
            </div>
            <div class="overlay-header">
                <h1>WHAT'S UP</h1>
            </div>
            <div class="row mt-5 pb-5 d-flex justify-content-center">
                <div class="col-12 col-md-6 mb-5">
                    <form action="#" method="post">
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Let me know you">
                        <label for="name">Your Name</label>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control" placeholder="What's your email?">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="How's it going?"></textarea>
                            <label for="message">Write Message</label>
                        </div>
                        <button class="btn-send-message">Send Message <i class='bx bx-send'></i></button>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-3">
                            <div class="card">
                                <a href="mailto:llemoscarl671@gmail.com" class="nav-link" target="_blank">
                                    <div class="card-body d-flex align-items-center gap-3">
                                        <i class='bx bx-envelope'></i> Email Me <i class='bx bx-right-arrow-alt ms-auto pt-1' ></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <div class="card">
                                <a href="https://www.facebook.com/idgaaaaaaaaaf/" target="_blank" class="nav-link">
                                    <div class="card-body d-flex align-items-center gap-3">
                                        <i class='bx bxl-facebook'></i> Add Me <i class='bx bx-right-arrow-alt ms-auto pt-1' ></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <div class="card">
                                <a href="https://www.instagram.com/___clmz___/" target="_blank" class="nav-link">
                                    <div class="card-body d-flex align-items-center gap-3">
                                        <i class='bx bxl-instagram'></i> Follow Me <i class='bx bx-right-arrow-alt ms-auto pt-1' ></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <div class="card">
                                <a href="" target="_blank" class="nav-link">
                                    <div class="card-body d-flex align-items-center gap-3">
                                        <i class='bx bxl-linkedin' ></i> Hire Me <i class='bx bx-right-arrow-alt ms-auto pt-1' ></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTACTS -->

    <!-- Work Together Modal -->
    <div class="modal fade" id="work-together" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-0">
            <h5 class="modal-title">What are your ideas?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6 mb-3">
                        <div class="form-group">
                            <input type="text" name="first-name" id="first-name" class="form-control" autocomplete="disabled">
                            <label class="mb-1">First Name</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <div class="form-group">
                            <input type="text" name="last-name" id="last-name" class="form-control" autocomplete="disabled">
                            <label class="mb-1">Last Name</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 mb-3">
                        <div class="form-group">
                            <input type="text" name="email" id="email" class="form-control" autocomplete="disabled">
                            <label class="mb-1">Email</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 mb-3">
                        <div class="form-group">
                            <textarea name="project-ideas" id="project-ideas" class="form-control p-3"></textarea>
                            <label class="mb-1">Your Ideas</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0">
            <button type="button" class="btn btn-primary d-flex align-items-center gap-2">Send <i class='bx bx-send'></i></button>
            </div>
        </div>
        </div>
    </div>

<%- include('templates/footer') %>

